body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.container {
    position: relative;
    padding: 0 10px;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/*header top*/
.tbe-hdtop {
    height: 35px;
    padding-top: 8px;
    background: #f4f4f4;
}

.tbe-exrate {
    float: left;
    width: 125px;
    white-space: nowrap;
    position: relative;
    color: #625b5b;
    border-right: 1px solid #cccccc;
}

.tbe-exrate span {
    color: #ed1f24;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3px;
}

.tbe-exrate:before {
    content: "¥";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 22px;
    margin-right: 5px;
    text-align: center;
    color: #cccccc;
    position: relative;
    top: -1px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.tbe-newsnt {
    display: block;
    margin-left: 145px;
}

.tbe-newsnt-tit {
    float: left;
    width: 100px;
    color: #cccccc;
}

.tbe-newsnt-tit strong {
    color: #ed1f24;
}

.tbe-newsnt-it {
    display: block;
    margin-left: 100px;
    overflow: hidden;
}

.tbe-newsnt-it a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.tbe-lgre {
    float: right;
}

.tbe-lgre > li {
    display: inline-block;
    vertical-align: middle;
}

.tbe-lgre > li > a {
    display: inline-block;
    color: #625b5b;
    position: relative;
}

.tbe-lgre > li > a .fas {
    font-size: 13px;
    color: #cccccc;
    margin-right: 3px;
}

.tbe-canoti {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #cccccc;
}

.tbe-canoti b {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 10px;
    color: #fff501;
    background: #ed1f24;
    position: absolute;
    top: -5px;
    left: 7px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.tbe-usebtn {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 125px;
    padding-right: 10px;
    position: relative;
    outline: none;
    border: none;
    background: none;
}

.tbe-usebtn:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
}

.tbe-bellbtn {
    outline: none;
    border: none;
    background: none;
}

.tbe-hdus {
    float: right;
}

.tbe-login {
    padding-right: 10px;
}

.tbe-hdus > li {
    display: inline-block;
    vertical-align: middle;
}

.tbe-hdus > li > a {
    display: inline-block;
    color: #625b5b;
    position: relative;
}

.tbe-hdus .dropdown-menu {
    right: 0;
    left: auto;
}

.tbe-hdus .dropdown-menu > li > a {
    font-size: 13px;
}

/*header mid*/
.tbe-hdmid {
    height: 90px;
    padding-top: 25px;
}

.tbe-logo {
    float: left;
    display: inline-block;
    width: 260px;
}

.tbe-hdicmn {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #ff0000;
}

.tbe-hdcall {
    display: none;
    position: absolute;
    top: 7px;
    right: 15px;
}

.tbe-hdcall span {
    display: block;
    font-size: 11px;
    letter-spacing: .4px;
    text-align: right;
}

.tbe-hdcall strong {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #ff0000;
}

.tbe-hdmright {
    position: relative;
    display: block;
    margin-left: 290px;
}

.tbe-search {
    float: left;
    width: 50%;
}

.tbe-hdmrul {
    float: left;
    width: 50%;
    display: flex;
    padding-right: 180px;
}

.tbe-search {
    padding-right: 20px;
}

.tbe-search .btn {
    width: 100px;
    height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tbe-search .form-control {
    height: 40px;
    padding-right: 35px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tbe-search .btn img {
    height: 26px;
}

.tbe-search .dropdown-menu {
    min-width: 125px;
}

.tbe-search .dropdown-menu > li > a {
    border-bottom: 1px solid #e6e6e6;
}

.tbe-search .dropdown-menu > li:last-child > a {
    border-bottom: none;
}

.tbe-search .dropdown-menu img {
    height: 36px;
}

.tbe-searbtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 19px;
    z-index: 4;
    color: #ed1f24;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-left: none;
}

.tbe-hdmrul > li {
    width: 50%;
    padding-left: 10px;
}

.tbe-hdbtn {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-hdbtn:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.tbe-hdbtndh {
    background: #39b54a;
}

.tbe-hdbtndh:hover {
    color: #ffffff;
    background: #319b3f;
}

.tbe-hdbtndh:before {
    width: 33px;
    height: 30px;
    background: url("../images/ic/cart2.png") no-repeat center;
}

.tbe-hdbtnkg {
    background: #0072bc;
}

.tbe-hdbtnkg:hover {
    color: #ffffff;
    background: #005993;
}

.tbe-hdbtnkg:before {
    width: 23px;
    height: 22px;
    background: url("../images/ic/kygui.png") no-repeat center;
}

.tbe-hdhline {
    display: inline-block;
    position: absolute;
    top: -25px;
    right: 0;
}

/*header bottom*/
.tbe-hdbot {
    margin-bottom: 10px;
    height: 40px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 2px 8px -2px #ccc;
    -moz-box-shadow: 0 2px 8px -2px #ccc;
    box-shadow: 0 2px 8px -2px #ccc;
}

.tbe-mntop > li {
    float: left;
    margin-right: 25px;
    position: relative;
}

.tbe-mntop > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    color: #333333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-mntop > li.active > a,
.tbe-mntop > li:hover > a {
    color: #ed1f24;
}

.tbe-mntop > li > ul > li > a {
    display: block;
    padding: 5px;
    color: #ffffff;
    border-bottom: 1px solid rgb(198, 0, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-mntop > li > ul > li:hover > a {
    color: #fff40a;
}

.tbe-mntop > li > ul > li:last-child > a {
    border-bottom: none;
}

.tbe-mntop > li > ul {
    z-index: 99;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ED1F24;
    width: 300px;
    border-radius: 3px 3px 0 0;
    padding: 3px 0 0;
    opacity: 0;
    visibility: visible;
    max-width: 0;
    max-height: 0;
    -webkit-box-shadow: 0 3px 10px -4px #500406;
    -moz-box-shadow: 0 3px 10px -4px #500406;
    box-shadow: 0 3px 10px -4px #500406;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transition: -webkit-transform .5s ease, opacity .6s ease, max-height .6s step-end, max-width .6s step-end, padding .6s step-end;
    -o-transition: -o-transform .5s ease, opacity .6s ease, max-height .6s step-end, max-width .6s step-end, padding .6s step-end;
    transition: transform .5s ease, opacity .6s ease, max-height .6s step-end, max-width .6s step-end, padding .6s step-end;
}

.tbe-mntop > li:hover > ul {
    opacity: 1;
    visibility: visible;
    max-width: 5000px;
    max-height: 5000px;
    -webkit-transform: perspective(600px) rotateX(0);
    -moz-transform: perspective(600px) rotateX(0);
    -ms-transform: perspective(600px) rotateX(0);
    -o-transform: perspective(600px) rotateX(0);
    transform: perspective(600px) rotateX(0);
    -webkit-transition: -webkit-transform .5s ease, opacity .2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    -o-transition: -o-transform .5s ease, opacity .2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    transition: transform .5s ease, opacity .2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
}

.tbe-mnics {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 31px;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    background: #ED1F24;
}

.tbe-mnics:before {
    content: "";
    display: inline-block;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px 1px 0 0;
    width: 10px;
    height: 10px;
    position: relative;
    top: -2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.tbe-tool {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #f5f5f5;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-tool:hover {
    background: #e9e9e9;
}

/*banner*/
.tbe-banner {
    margin-bottom: 40px;
}

/*section 1*/
.tbe-s1 {
    overflow: hidden;
}

.tbe-stit {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.tbe-stit span {
    color: #fe0000;
    font-size: 25px;
}

.tbe-stit span > span {
    font-weight: 900;
}

.tbe-s1 .tbe-stit {
    color: #fe0000;
}

.tbe-stit:before {
    content: "";
    display: inline-block;
    width: 380px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -190px;
    background: #fe0000;
}

.tbe-stit:after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -50px;
    background: #fe0000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tbe-s1ulbox {
    overflow: hidden;
    margin-bottom: 35px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-s1ul {
    margin: 0 -15px;
    padding: 35px 0;
}

.tbe-s1ul > li {
    padding: 0 15px;
    float: left;
    width: 25%;
}

.tbe-s1ul > li > div {
    padding: 0 25px;
    text-align: center;
}

.tbe-s1ul > li > div > span {
    display: block;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    margin: 0 auto 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #fd2929;
    background: -moz-linear-gradient(left, #fd2929 0%, #fd2929 50%, #fe0000 50%, #fe0000 100%);
    background: -webkit-linear-gradient(left, #fd2929 0%, #fd2929 50%, #fe0000 50%, #fe0000 100%);
    background: linear-gradient(to right, #fd2929 0%, #fd2929 50%, #fe0000 50%, #fe0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd2929', endColorstr='#fe0000', GradientType=1);
}

.tbe-s1ul > li > div > h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    color: #fe0000;
}

.tbe-boxtit {
    margin-bottom: 40px;
    text-align: center;
}

.tbe-sbtit {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #585858;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tbe-sbtit strong {
    font-weight: 900;
    font-size: 25px;
    color: #fe0000;
}

.tbe-gpap {
    position: relative;
    margin: 0 -50px 50px;
}

.tbe-gpap > li {
    float: left;
    padding: 0 50px;
    width: 50%;
    margin-bottom: 50px;
}

.tbe-gpap-box {
    position: relative;
    background: #ebebeb;
    height: 98px;
    padding: 15px 15px 0 20px;
}

.tbe-gpap-box:before {
    content: "";
    display: inline-block;
    width: 85px;
    height: 116px;
    position: absolute;
    top: -18px;
    background-repeat: no-repeat;
    background-position: center;
}

.tbe-gpap-box:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 38px;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.tbe-gpap-tit {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.tbe-gpap-des {
    position: relative;
}

.tbe-gpap-vm {
    text-align: right;
    position: relative;
}

.tbe-gpap-vm a {
    color: #fe0000;
    font-style: italic;
}

.tbe-gpap1,
.tbe-gpap3,
.tbe-gpap5 {
    padding-left: 85px;
}

.tbe-gpap1:after,
.tbe-gpap3:after,
.tbe-gpap5:after {
    right: -14px;
    background-image: url("../images/s2-ar1.png");
}

.tbe-gpap2 .tbe-gpap-des,
.tbe-gpap4 .tbe-gpap-des,
.tbe-gpap6 .tbe-gpap-des {
    padding-right: 50px;
}

.tbe-gpap2:after,
.tbe-gpap4:after,
.tbe-gpap6:after {
    left: -14px;
    background-image: url("../images/s2-ar2.png");
}

.tbe-gpap1:before {
    left: 0;
    background-image: url("../images/s2-1.png");
}

.tbe-gpap3:before {
    left: 0;
    background-image: url("../images/s2-3.png");
}

.tbe-gpap5:before {
    left: 0;
    background-image: url("../images/s2-5.png");
}

.tbe-gpap2:before {
    right: 0;
    background-image: url("../images/s2-2.png");
}

.tbe-gpap4:before {
    right: 0;
    background-image: url("../images/s2-4.png");
}

.tbe-gpap6:before {
    right: 0;
    background-image: url("../images/s2-6.png");
}

.tbe-ulgpap {
    position: relative;
    padding-top: 40px;
}

.tbe-gpapdot {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 480px;
    background: #cccccc;
}

.tbe-gpapdot:before,
.tbe-gpapdot:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    left: -7px;
    position: absolute;
    border: 1px solid #cccccc;
    background: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.tbe-gpapdot:before {
    top: -8px;
}

.tbe-gpapdot:after {
    bottom: -8px;
}

.tbe-gpapdot i {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #ffffff;
    background: #ff0000;
    position: absolute;
    margin-left: -6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.tbe-gpapdot i:nth-child(1) {
    top: 20%;
}

.tbe-gpapdot i:nth-child(2) {
    top: 50%;
}

.tbe-gpapdot i:nth-child(3) {
    top: 80%;
}

/*section 2*/
.tbe-s2 {
    overflow: hidden;
    height: 400px;
    padding-top: 100px;
    background: #fe0000 url("../images/s2bg.png") no-repeat center;
}

.tbe-s2rate {
    margin: 0 -15px;
}

.tbe-s2rate > li {
    padding: 0 15px;
    float: left;
    width: 25%;
    color: #ffffff;
    text-align: center;
}

.tbe-s2rate > li strong {
    display: block;
    padding: 15px 0;
    font-size: 50px;
    font-weight: bold;
}

.tbe-s2rate > li span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

/*section 3*/
.tbe-s3 {
    overflow: hidden;
    padding: 50px 0 0;
}

.tbe-s3sbt {
    text-align: center;
    margin-bottom: 30px;
}

.tbe-s3 .tbe-stit {
    color: #585858;
}

.tbe-s3box {
    overflow: hidden;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-s3uls {
    margin: 0 -15px;
}

.tbe-s3uls > li {
    float: left;
    padding: 0 15px;
    width: 25%;
    margin-bottom: 40px;
}

.tbe-s3uls > li > div {
    max-width: 230px;
    margin: auto;
    text-align: center;
}

.tbe-s3uls > li > div > span {
    display: block;
    width: 134px;
    height: 134px;
    line-height: 134px;
    text-align: center;
    margin: 0 auto 15px;
    background: #fe0000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.tbe-s3uls > li > div > h3 {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-bottom: 3px;
}

.tbe-s3uls > li > div > p {
    color: #747474;
}

/*section 4*/
.tbe-bgia {
    padding: 0 0 15px;
}

.tbe-bgia table,
.tbe-bgia table tr td,
.tbe-bgia table tr th {
    border: 1px solid #ff0000;
}

.tbe-bgia table tr th {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #ff0000;
    font-size: 16px;
}

.tba-gct-img {
    width: 390px;
    float: left;
}

.tba-gct-right {
    margin-left: 430px;
}

.tba-gctul {
    display: flex;
    flex-wrap: wrap;
}

.tba-gctul > li {
    width: 50%;
    padding: 0 10px;
    position: relative;
    margin-bottom: 30px;
}

.tba-gctul > li > span {
    display: inline-block;
    width: 30px;
    height: 36px;
    line-height: 40px;
    text-align: center;
    color: #fee95e;
    position: absolute;
    top: -8px;
    left: 0;
    background: url("../images/bgia.png") no-repeat center;
}

.tba-gctul > li > p {
    padding-left: 30px;
}

.tba-gctul > li > p a:hover {
    color: #f20000;
}

.tba-gctvm {
    text-align: right;
    padding-top: 15px;
}

.tba-gctvm a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    color: #fee95e;
    background: #f20000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tba-gctvm a:hover {
    color: #ffffff;
    background: #db0000;
}

.tba-giact {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px dashed #cccccc;
}

/*section 5*/
.tbe-s5 {
    padding-bottom: 50px;
}

.tbe-s5 .tbe-stit {
    margin-bottom: 30px;
}

.tbe-tcuu {
    padding: 30px 60px;
    background: #ebebeb;
}

.tbe-tcu-top {
    display: table;
    width: 100%;
    border-bottom: 1px solid #acacac;
}

.tbe-tcu-top li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
}

.tbe-tcu-top li:nth-child(1) {
    width: 25%;
    border-right: 1px solid #acacac;
}

.tbe-tcu-top li:nth-child(2) {
    width: 75%;
}

.tbe-tcu-bot {
    display: table;
    width: 100%;
}

.tbe-tculbox {
    display: table-cell;
    vertical-align: top;
    width: 25%;
    border-right: 1px solid #acacac;

    padding: 10px;
}

.tbe-tcul {
    padding: 5px;
    background: #e1e1e1;
    min-height: 100px;
}

.tbe-tcul > li > a {
    display: block;
    color: #2d1e1e;
    padding: 5px;
}

.tbe-tcul > li.active > a {
    font-weight: bold;
    font-size: 15px;
    color: #ff0000;
}

.tbe-tcuform {
    padding: 0 15px;
}

.tbe-tcurow {
    padding: 15px 0;
    border-bottom: 1px dashed #cccccc;
}

.tbe-tcurow:last-child {
    border-bottom: none;
}

.tbe-tcufl {
    padding-top: 8px;
    color: #000000;
    font-weight: bold;
}

.tbe-tcubtn {
    width: 100%;
    background: #f20000;
}

/*section 6*/
.tbe-s6 {
    overflow: hidden;
    padding: 50px 0;
    background: url("../images/s6bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.tbe-s6tit {
    margin-bottom: 20px;
    text-align: center;
}

.tbe-s6row {
    margin-bottom: 45px;
}

/*section 7*/
.tbe-s7 {
    padding-top: 40px;
}

.tbe-s7sl {
    padding: 30px 0 40px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-s7item {
    display: block;
}

.tbe-s7item p {
    position: relative;
}

.tbe-s7item p:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-s7item p:after {
    content: "";
    display: inline-block;
    width: 49px;
    height: 49px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -28px;
    background: url("../images/play.png") no-repeat center;
}

.tbe-s7item img {
    width: 100%;
}

.tbe-s7item h3 {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.tbe-s7item:hover p:before {
    background: rgba(0, 0, 0, 0);
}

.slVideo .owl-next,
.slVideo .owl-prev {
    outline: 0;
    display: inline-block;
    width: 40px !important;
    height: 80px !important;
    line-height: 80px !important;
    text-align: center;
    border: 2px solid #ff1919 !important;
    background: #ffffff !important;
    position: absolute;
    top: 50%;
    margin-top: -40px;
}

.slVideo .owl-next {
    right: -50px;
}

.slVideo .owl-prev {
    left: -50px;
}

.slVideo .owl-next:before,
.slVideo .owl-prev:before {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: #ff1919;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.slVideo .owl-next:before {
    left: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slVideo .owl-prev:before {
    right: -5px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

/*section 8*/
.tbe-s8box {
    padding: 40px 0;
    margin-bottom: 40px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-s8rvsl {
    padding: 15px 30px;
    position: relative;
    border: 2px dashed #fe0000;
}

.tbe-s8tit {
    font-size: 20px;
    font-weight: bold;
    color: #6d6d6d;
    text-align: center;
    text-transform: uppercase;
}

.tbe-s8tit > h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
    top: -32px;
    padding: 0 15px;
    background: #ffffff;
}

.tbe-s8tit > h2 > span {
    font-size: 25px;
    color: #ff0000;
}

.tbe-s8tit > h2 > span > span {
    font-size: 25px;
    color: #ff0000;
    font-weight: 900;
}

.tbe-s8it {
    height: 155px;
    background: #ebebeb;
    position: relative;
}

.tbe-s8itvm {
    position: relative;
    font-style: italic;
    overflow: hidden;
    max-height: 95px;
    padding: 15px 20px;
}

.tbe-s8itvm .fa-quote-left {
    position: absolute;
    top: 11px;
    left: 8px;
    font-size: 10px;
    color: #f20000;
}

.tbe-s8itvm .fa-quote-right {
    font-size: 10px;
    color: #f20000;
}

.tbe-s8itbot {
    position: absolute;
    top: 110px;
    left: 0;
    padding: 0 20px;
}

.tbe-s8itimg {
    float: left;
    width: 80px !important;;
    height: 80px !important;
    border: 1px solid #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tbe-s8itif {
    display: block;
    margin-left: 90px;
}

.tbe-s8iname {
    font-weight: bold;
    color: #000000;
}

.tbe-s8iname strong {
    color: #f20000;
}

.tbe-s8itbox {
    height: 190px;
}

.slReview .owl-dots {
    text-align: center;
}

.slReview .owl-dot {
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 3px;
    background: #ffffff !important;
    border: 1px solid #ff0000 !important;;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.slReview .owl-dot.active {
    background: #ff0000 !important;;
}

/*section 9*/
.tbe-s9 {
    margin-bottom: 50px;
}

.tbe-s9it {
    text-align: center;
}

/*section 10*/
.tbe-s10 {
    padding-top: 95px;
    height: 400px;
    background: url("../images/bg10.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.tbe-s10 .tbe-stit {
    margin-bottom: 40px;
}

.tbe-s10 .tbe-stit,
.tbe-s10 .tbe-stit span {
    font-size: 35px;
    font-weight: normal;
    color: #ffffff;
}

.tbe-s10 .tbe-stit span > span {
    font-weight: 900;
}

.tbe-s10 .tbe-stit:before,
.tbe-s10 .tbe-stit:after {
    background: #ffffff;
}

.tbe-s10des {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

.tbe-s10vm {
    text-align: center;
}

.tbe-s10vm a {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 40px;
    font-size: 16px;
    color: #ff0000;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px 0 #2f1010;
    -moz-box-shadow: 0 2px 4px 0 #2f1010;
    box-shadow: 0 2px 4px 0 #2f1010;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-s10vm a:hover {
    -webkit-box-shadow: 0 4px 6px 0 #2f1010;
    -moz-box-shadow: 0 4px 6px 0 #2f1010;
    box-shadow: 0 4px 6px 0 #2f1010;
}

/*section 11*/
.tbe-s11 {
    padding: 40px 0 10px;
}

.tbe-s11row {
    margin: 0 -15px 20px;
}

.tbe-s11col {
    float: left;
    width: 33.333%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.tbe-s11tit {
    font-size: 16px;
    color: #fe0000;
    font-weight: bold;
    margin-bottom: 15px;
}

.tbe-s11ul > li {
    border-bottom: 1px dashed #d7d7d7;
}

.tbe-s11ul > li > a {
    position: relative;
    font-size: 15px;
    display: inline-block;
    padding: 8px 5px 8px 15px;
}

.tbe-s11ul > li > a:hover {
    color: #ff0000;
}

.tbe-s11ul > li > a:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #ff0000;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*footer*/
.tbe-footer {
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background: #fd0000;
}

.tbe-footer h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

/*NEWS LIST*/
.tbe-nlmain {
    padding: 15px 0 30px;
}

.tbe-nitem {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-nitem:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.tbe-nimgs {
    display: block;
    float: left;
    width: 300px;
}

.tbe-nimgs img {
    width: 100%;
}

.tbe-niif {
    margin-left: 330px;
}

.tbe-niftit {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.18;
    color: #3d3d3d;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-niftit:hover {
    color: #ff0000;
}

.tbe-nides {
    font-size: 14px;
    line-height: 1.57;
    color: #555;
    margin-bottom: 10px;
}

.tbe-npagin {
    text-align: center;
}

.tbe-nbvm > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-nbvm > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.tbe-nbvm > li > a {
    display: block;
}

.tbe-nbvm > li > a img {
    width: 80px;
    float: left;
}

.tbe-nbvm > li > a h3 {
    margin-left: 90px;
    line-height: 1.4
}

.tbe-nbvm > li > a:hover h3 {
    color: #ff0000;
}

.tbe-nhds {
    font-size: 18px;
}

.tbe-nldvs > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-nldvs > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tbe-nldvs > li > a {
    padding: 0;
    display: block;
    position: relative;
}

.tbe-nldvs > li > a:active,
.tbe-nldvs > li > a:focus,
.tbe-nldvs > li > a:hover {
    background: transparent;
}

.tbe-nldvs > li.active > a,
.tbe-nldvs > li:hover > a {
    color: #ff0000;
}

.tbe-ntags a {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    padding: 1px 5px;
    margin: 3px;
    background: #ededed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tbe-ntags a:hover {
    background: #e0e0e0;
}

/*NEWS DETAIL*/
.tbe-ndetit {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tbe-ndenoti {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #cccccc;
}

.tbe-ndenoti > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.tbe-ndenoti i {
    color: #b1b1b1;
}

.tbe-ndedes {
    line-height: 1.63;
    margin-bottom: 20px;
}

.tbe-ndedes p, .tbe-ndedes h1, .tbe-ndedes h2, .tbe-ndedes h3, .tbe-ndedes h4, .tbe-ndedes h5, .tbe-ndedes h6, .tbe-ndedes ul {
    margin-bottom: 8px;
}

.tbe-ndeblq {
    margin-bottom: 15px;
}

.tbe-ndeblq-tit {
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.tbe-ndeblq-ul {
    margin: 0 -15px;
}

.tbe-ndeblq-ul > li {
    float: left;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 15px;
}

.tbe-ndeblq-ul > li img {
    width: 100px;
    float: left;
}

.tbe-ndeblq-ul > li h3 {
    margin-left: 115px;
    line-height: 1.4;
}

/*CONTACT*/
.tbe-titcontact {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.tbe-contact {
    line-height: 1.8;
}

.tbe-qprhd {
    font-size: 22px;
    margin-bottom: 10px;
}

.tbe-qprtit {
    font-size: 20px;
    padding: 10px 0 10px;
}

.tbe-qprtbe thead tr th {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background: #185493;
}

.tbe-qprtrs td {
    font-weight: bold;
    color: #ffffff;
    background: #185493;
    text-align: center;
}

.tbe-qprol {
    padding-left: 15px;
}

/*MEDIA RESPONSIVE*/
@media (max-width: 1200px) {
    .tbe-logo {
        width: 215px;
    }

    .tbe-hdmright {
        margin-left: 235px;
    }

    .tbe-search {
        padding-right: 10px;
    }

    .tbe-hdbtndh:before,
    .tbe-hdbtnkg:before {
        display: none;
    }

    .tbe-hdbtn {
        font-size: 13px;
    }

    .tbe-mntop > li {
        margin-right: 18px;
    }

    .tbe-mntop > li > a {
        font-size: 14px;
    }

    .tbe-s1ul > li > div {
        padding: 0;
    }

    .tba-gct-img {
        width: 350px;
    }

    .tba-gct-right {
        margin-left: 380px;
    }

    .tbe-sbtit {
        font-size: 18px;
    }

    .tbe-s10 .tbe-stit,
    .tbe-s10 .tbe-stit span {
        font-size: 30px;
    }

    .slVideo .owl-prev {
        border: none !important;
        left: 0;
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .slVideo .owl-next {
        border: none !important;
        right: 0;
        background: rgba(0, 0, 0, 0.5) !important;
    }
}

@media (max-width: 992px) {
    .tbe-newsnt {
        display: none;
    }

    .tbe-exrate {
        float: none;
        width: auto;
        border-right: none;
    }

    .tbe-search {
        width: 45%;
    }

    .tbe-hdmrul {
        width: 55%;
        padding-right: 175px;
    }

    .tbe-hdmrul > li {
        padding-left: 5px;
    }

    .tbe-hdmright {
        margin-left: 150px;
    }

    .tbe-logo {
        padding-top: 8px;
        width: 140px;
    }

    .tbe-tool {
        width: 135px;
        padding: 0 5px;
    }

    .tbe-mntop > li {
        margin-right: 7px;
    }

    .tbe-mntop > li > a {
        font-size: 13px;
    }

    .tbe-gpap-tit {
        font-size: 14px;
    }

    .tbe-gpap-des {
        font-size: 13px;
    }

    .tbe-s2rate > li span {
        font-size: 13px;
    }

    .tbe-s2rate > li strong {
        font-size: 38px;
    }

    .tba-gct-img {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }

    .tba-gct-right {
        margin-left: 0;
    }

    .tba-gctvm {
        text-align: center;
    }

    .tbe-tcurow .form-control {
        margin-bottom: 5px;
    }

    .tbe-s1ul > li > div > span {
        width: 120px;
        height: 120px;
        line-height: 120px;
    }

    .tbe-s3uls > li > div > span {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    /*news list*/
    .tbe-nimgs {
        width: 150px;
    }

    .tbe-niif {
        margin-left: 165px;
    }
}

@media (max-width: 768px) {
    .tbe-hdcall,
    .tbe-hdicmn {
        display: inline-block;
    }

    .tbe-logo {
        float: none;
        display: block;
        padding: 10px 0;
        width: 155px;
        position: relative;
        left: 30px;
    }

    .tbe-gpapdot,
    .tbe-hdbot,
    .tbe-hdhline,
    .tbe-hdmrul {
        display: none;
    }

    .tbe-hdmid {
        height: auto;
        padding: 5px 0;
    }

    .tbe-search {
        padding: 0;
        margin: 0;
        float: none;
        width: 100%;
    }

    .tbe-hdmright {
        margin-left: 0;
    }

    .tbe-mnics {
        display: inline-block;
    }

    .tbe-mntop > li > ul {
        display: none;
        position: relative;
        width: 100%;
        padding: 0;
        background: #ffffff;
        visibility: visible;
        opacity: 1;
        max-width: 5000px;
        max-height: 5000px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transform: perspective(600px) rotateX(0);
        -moz-transform: perspective(600px) rotateX(0);
        -ms-transform: perspective(600px) rotateX(0);
        -o-transform: perspective(600px) rotateX(0);
        transform: perspective(600px) rotateX(0);
        -webkit-transition: -webkit-transform .5s ease, opacity .2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
        -o-transition: -o-transform .5s ease, opacity .2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
        transition: transform .5s ease, opacity .2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    }

    .tbe-mntop > li > ul > li > a {
        color: #000000;
        font-size: 13px;
        border-bottom: 1px solid rgb(222, 222, 222);
    }

    .tbe-mntop > li:hover > ul {
        display: none;
    }

    .tbe-mntop > li.tbsshow > ul {
        display: block !important;
    }

    .tbe-stit {
        font-size: 18px;
        line-height: 1.4;
    }

    .tbe-sbtit {
        line-height: 1.4;
    }

    .tbe-sbtit strong,
    .tbe-stit span {
        font-size: 22px;
    }

    .tbe-s1ul > li {
        width: 50%;
        margin-bottom: 20px;
    }

    .tbe-s1ul > li > div > h3 {
        color: #585858;
        font-size: 14px;
    }

    .tbe-gpap > li {
        width: 100%;
        margin-bottom: 25px;
    }

    .tbe-gpap-box {
        min-height: 120px;
        height: auto;
    }

    .tbe-boxtit {
        margin-bottom: 0;
    }

    .tbe-gpap {
        margin: 0 -50px 15px;
    }

    .tbe-s2 {
        padding-top: 30px;
    }

    .tbe-s2rate > li {
        margin-bottom: 30px;
        width: 50%;
    }

    .tbe-s2rate > li strong {
        display: block;
        padding: 5px 0;
    }

    .tbe-s3uls > li {
        width: 50%;
    }

    .tba-gctul {
        padding-top: 30px;
    }

    .tbe-tcu-top {
        display: none;
    }

    .tbe-tculbox {
        display: block;
        width: 100%;
        border-right: none;
        padding: 10px;
    }

    .tbe-tcurow {
        padding: 8px 0;
    }

    .tbe-tcul {
        min-height: auto;
    }

    .tbe-tcuu {
        padding: 10px;
    }

    .tbe-s10 {
        padding: 40px 0;
        height: auto;
    }

    .tbe-s10 .tbe-stit,
    .tbe-s10 .tbe-stit span {
        font-size: 24px;
    }

    .tbe-s11ul > li > a {
        font-size: 13px;
        padding: 5px 5px 5px 15px;
    }

    .tbe-s8tit {
        font-size: 18px;
    }

    .tbe-s8tit > h2 > span {
        font-size: 22px;
    }

    .tbe-hdbot {
        height: auto;
    }

    .tbe-mntop > li {
        margin-right: 0;
        float: none;
    }

    .tbe-mntop > li > a {
        display: block;
        height: auto;
        line-height: normal;
        padding: 8px 0;
        border-bottom: 1px solid #e6e6e6;
    }

    .tbe-tool {
        width: 100%;
        height: auto;
        line-height: normal;
        padding: 5px;
        position: relative;
        top: 0;
        right: 0;
    }

    .tbe-hdbot.mnShow {
        display: block;
        background: #f5f5f5;
    }

    .tbe-s3uls > li > div {
        height: 225px;
    }

    .tbe-ndeblq-ul > li img {
        width: 80px;
    }

    .tbe-ndeblq-ul > li h3 {
        margin-left: 95px;
    }

    .tbe-ndeblq-ul > li {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .tba-gctul > li {
        width: 100%;
        margin-bottom: 25px;
    }

    .tba-gctvm {
        padding-top: 0;
    }

    .tbe-hdus li span,
    .tbe-lgre li span {
        display: none;
    }

    .tbe-usebtn {
        width: auto;
    }

    .tbe-s11col {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .tbe-stit:before {
        width: 100%;
        left: 0;
        margin-left: 0;
    }


    /*news list*/
    .tbe-nimgs {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .tbe-niif {
        margin-left: 0;
    }

    .tbe-nides {
        margin-bottom: 0;
    }
}